h1 {
    color : black ; 
    font-size: 60px;
}

body{
    background-color: rgba(8, 153, 211, 0.932);
}

a:visited{
    color:  blue;
}

h3{
    font-size: 30px;
}
.text{
    font-size: 25px;
}
.textpersona{
    text-decoration: underline;
    font-size: 20px;
}
.bordurePersona{
        border: #0e2de0 solid 2px;
}