h1 {
    color : black ; 
    font-size: 55px;
}

body{
    background: linear-gradient(90deg, #e77307d3, #dbb50c);
}

a:visited{
    color:  blue;
}

h3{
    font-size: 30px;
}
.text{
    font-size: 25px;
}
.textpersona{
    text-decoration: underline;
    font-size: 20px;
}
.bordurePersona{
        border: #0b78c0d0 solid 2px;
}