h1 {
    color : rgba(202, 223, 13, 0.932) ; 
    font-size: 60px;
}

body{
    background-color: rgba(8, 153, 211, 0.932);
}


h3{
    font-size: 30px;
}
.text{
    font-size: 25px;
}
.textpassions{
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}
.bordurePersona3{
    border: #1643c0 solid 2px;
}

.bordurePersona5{
    border: #e03f0e solid 2px;
}
.sao {
    border: #3a3131 solid 2px;
}
.cm {
    border: #d65012 solid 2px;
}
.snk {
    border: #3e697a solid 2px;
}