h1 {
    color : black ; 
    font-size: 65px;
}

body{
    background-color: rgba(8, 153, 211, 0.932);
}

a{
    font-size: 30px;
}

a:visited{
    color:  blue;
}
nav ul{
    display: flex;
}
.menu{
    display: flex;
    background-color: rgb(22, 139, 235);
    border-radius: 10px;
}
.intro{
    font-size: 25px;
}


.onglet1{
    margin-right: 20px ;
    background-color: rgb(22, 139, 235) ;
    padding: 10px ;
    border-radius: 10px ;

}

.onglet2{
    margin-right: 20px ;
    background-color: rgb(22, 139, 235) ;
    padding: 10px ;
    border-radius: 10px ;
}

.onglet3{
    margin-right: 20px ;
    background-color: rgb(22, 139, 235) ;
    padding: 10px ;
    border-radius: 10px ;
}

.onglet4{
    margin-right: 20px ;
    background-color: rgb(22, 139, 235) ;
    padding: 10px ;
    border-radius: 10px ;
}

.onglet5{
    margin-right: 20px ;
    background-color: rgb(22, 139, 235) ;
    padding: 10px ;
    border-radius: 10px ;
}

.onglet6{
    margin-right: 20px ;
    background-color: rgb(22, 139, 235) ;
    padding: 10px ;
    border-radius: 10px ;
    
}

