h1 {
    color : black ; 
    font-size: 65px;
}

body{
    background: linear-gradient(90deg, #e77307d3, #dbb50c);
}

a{
    font-size: 30px;
}

a:visited{
    color:  blue;
}
nav ul{
    display: flex;
}

.div1{

}