h1 {
    color : black ; 
    font-size: 65px;
}

body{
    background-color: rgba(8, 153, 211, 0.932);
}

a{
    font-size: 30px;
}

a:visited{
    color:  blue;
}
nav ul{
    display: flex;
}
.intro{
    font-size : 25px ;
    color: rgb(59, 32, 0)
}