h1 {
    color : black ; 
    font-size: 60px;
}

body{
    background-color: rgba(8, 153, 211, 0.932);
}

a:visited{
    color:  blue;
}
.travaux{
    font-size: 50px;
    font-style: italic;
    color: rgb(158, 17, 17);
}