p{
    font-size: 12px ;
}

.arial20r{
    margin-top:20px ;
    font-size: 20px ;
    font-family: Arial;
    color: red;
    background-color: palegoldenrod;
}

.arial16v{
    font-family: Arial ;
    font-size: 16px ;
    color: violet ;
    margin-bottom:20px ;
}

.p2{
    text-indent : 20px; 
    font-family: Arial;
    font-size: 11px;
    margin-top:20px ;
    margin-bottom:20px ;
}

.p3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:blue
}
.p4{
    text-indent : 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-top: 10px ;
    margin-bottom: 20px ;
}
.p5{
    font-size: 13px;
}

.p6{
    text-indent : 12px;
    margin-top: 10px ;
    margin-bottom: 20px ;
}

.austra{
    text-indent : 10px;
    margin-top: 10px ;
    margin-bottom: 20px ;
}
.homo{
    margin-top: 10px ;
    margin-bottom: 20px ;
}